.form-field
  display: flex
  flex-direction: column
  margin-bottom: $margin
  label
    padding: $padding-small $padding
    opacity: 0.8
    font-size: 1rem
  input, textarea, select
    width: 100%
    background-color: $white
    padding: $padding-small $padding
    outline: none
    border-radius: 3px
    border: $border
    position: relative
    box-shadow: $shadow
    border-radius: 3px
    font-size: 1rem
    &:hover
      border: $border-hover
    &:focus
      border: $border-focus
  &.form-inline
    flex-direction: row
    .form-control
      flex-grow: 1
